<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjsdZQtFaW479tWTzxksJ-tURXSvwvxfI</string>
	<key>GCM_SENDER_ID</key>
	<string>171373076136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinalink.qrscan-app-vinalink</string>
	<key>PROJECT_ID</key>
	<string>lms-qrscan</string>
	<key>STORAGE_BUCKET</key>
	<string>lms-qrscan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171373076136:ios:8b4af8d92cac17c80eac9d</string>
</dict>
</plist>